.character-list__grid__card {
  cursor: pointer;
  max-width: 250px;
  position: relative;
  background-color: var(--dark-blue);
  border-radius: 0.8rem;
  text-align: center;
  height: 300px;
  border: 2px solid var(--yellow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.character-list__grid__card__img {
  position: absolute;
  top: -1.2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.character-list__grid__card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px var(--yellow);

  .character-list__grid__card__img {
    transform: translateX(-50%) rotate(10deg);
  }
}

.character-list__grid__card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-20%);
  width: 80%;
}

.character-list__grid__card__content_title {
  font-size: 1.2rem;
}

.character-list__grid__card__content__body {
  font-size: 0.9rem;
}

.character-list__grid__card__content__body__species-diff {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin-right: 0.2rem;
}

.character-list__grid__card__content__body__species-diff--human {
  background-color: var(--blue);
}

.character-list__grid__card__content__body__species-diff--alien {
  background-color: var(--yellow);
}

@media (max-width: 512px) {
  .character-list__grid__card {
    padding: 10px;
    width: 250px;
    margin: 0 auto;
  }

  .character-list__grid__card__title {
    font-size: 1rem;
  }
}
