.character-list__title {
  display: flex;
  align-items: center;
  margin-bottom: 3.5rem;
  gap: 0.8rem;
}

.character-list__title__text {
  text-shadow: 1px 1px 1px var(--yellow);
  font-size: 2.5rem;
}

.character-list__title__decoration {
  height: 2px;
  background-color: var(--yellow);
  flex: 1;
  margin-top: 1rem;
}

.character-list__grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  margin-bottom: 2rem;
}

.character-list__grid__message--not-found {
  font-size: 1.5rem;
  text-align: center;
}

.character-list__container-btn {
  height: 50px;
}

.character-list__btn--more {
  display: block;
  padding: 0.8rem;
  margin: 0 auto;
  width: 50%;
  border: 1px solid var(--white);
  background: transparent;
  color: var(--white);
  font-size: 0.9rem;
  border-radius: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.character-list__btn--more:hover {
  background-color: var(--blue);
  border: none;
}

@media (max-width: 768px) {
  .character-list__title__text {
    font-size: 2rem;
  }
}

@media (max-width: 512px) {
  .character-list {
    margin-bottom: 50px; /*Espacio para la barra mobile*/
  }

  .character-list__title {
    justify-content: center;
  }

  .character-list__title__decoration {
    display: none;
  }

  .character-list__grid {
    display: grid;
    gap: 3.5rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
  }
}
