/* Custom Font de rick y morty */
@font-face {
  font-family: "Rick&Morty";
  src: url("/assets/font/WubbaLubbaDubDub.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --yellow: #cbdb78;
  --green: #b0c936c9;
  --blue: #00aec7;
  --dark-blue: #073b4c;
  --white: #f5f5f5;
  --black: #0f0f0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--black);
  color: var(--white);
}

img {
  width: 120px;
}

/* Utilities */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.font-rick {
  font-family: "Rick&Morty", sans-serif;
}

.btn--go-top {
  position: fixed;
  left: 90%;
  bottom: 10%;
  z-index: 10;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.btn--go-top i {
  font-size: 2.5rem;
  color: var(--white);
  transition: all 0.3s ease;
  opacity: 0.6;
  border-radius: 50%;
}

.btn--go-top i:hover {
  transform: scale(1.2);
  opacity: 1;
  background-color: var(--black);
}

.spinning-loader {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid var(--black);
  border-top: 5px solid var(--white);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1400px) {
  .btn--go-top {
    left: 95%;
  }
}

@media (max-width: 1200px) {
  .btn--go-top {
    left: calc(100% - 2.5rem);
  }
}
